:root {
  --primary-color: #047aed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}


.header {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.main-inner {
  display: grid;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: auto;
}


.title,
.main,
.output {
  text-align: center;
  font-size: 18px;
}

.output {
  padding-top:30px;
}

.output-text {
  font-size: 16pt;
}

.title-main {
  padding-top: 20px;
}

.textbox {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;
}

.button {
  width: 250px;
  font-size: 1em;
  display: block;
  border: 2px solid #00AFE1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  margin: auto;
  color: #fff;
  font-weight: 700;
  background: #00AFE1;
  cursor: pointer;
  margin-bottom: 30px;
}






